<h2>Authenticated successfully</h2>

<p>
  Rapid Connect sent a valid JWS, which we decoded as expected.
  Here is the information we received:
</p>

<pre><code><%= JSON.pretty_generate(@jwt.as_json) %></code></pre>

<p>
  <%= link_to 'Authenticate again', @connection.direct_auth_url || @connection.callback_url %>
  | <%= link_to 'Back', rapid_connection_path(@connection) %>
</p>
