<div id="<%= dom_id rapid_connection %>">
  <p>
    <strong>Nickname:</strong>
    <%= rapid_connection.nickname %>
  </p>

  <p>
    <strong>Secret:</strong>
    <%= rapid_connection.secret %>
  </p>

  <p>
    <strong>Callback url:</strong>
    <%= rapid_connection.callback_url %>
  </p>

</div>
