<h1>Editing rapid connection</h1>

<%= render "form", rapid_connection: @rapid_connection %>

<br>

<div>
  <%= link_to "Show this rapid connection", @rapid_connection %> |
  <%= link_to "Back to rapid connections", rapid_connections_path %>
</div>
