<p style="color: green"><%= notice %></p>

<h1>Rapid connections</h1>

<div id="rapid_connections">
  <% @rapid_connections.each do |rapid_connection| %>
    <p>
      <%= link_to rapid_connection.nickname, rapid_connection %>
    </p>
  <% end %>
</div>

<%= link_to "New rapid connection", new_rapid_connection_path %>
