<p style="color: green"><%= notice %></p>

<h2>Connections</h2>

<div id="rapid_connections">
  <% @rapid_connections.each do |rapid_connection| %>
    <p>
      <%= link_to rapid_connection.nickname, rapid_connection %>
    </p>
  <% end %>
</div>

<hr/>

<%= link_to "New connection", new_rapid_connection_path %>
